@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

*{
  margin: 0;
  padding: 0;
}

h1,h2,p {
  margin: 0;
}

ul{
  margin: 0;
  padding:0;
  list-style: none;
}

:root{
  --header--height: 3rem;
  --font-semi: 600;
}

:root{
  --first-color: #fb982f;
  --second-color: #0b1b43;
  --text-color: #565964;
  --circle-one: #1100ff;
  --circle-two: #00b9ff;
}

:root{
  --header-font: 'Roboto', sans-serif;
  --body-font: 'Roboto', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.5rem;
  --normal-font-size: 0.938rem;
}

/* media screen min width: 768px */
@media screen and (min-width: 768px){
  :root{
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}

/* Margins */
:root{
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

}

/* z-index */
:root{
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

*::before, ::after{
  box-sizing:border-box;
}

html{
  scroll-behavior: smooth;
}

/* layout */
.bd-grid{
  max-width: 1024px;
  display:grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100%-2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

a {
  text-decoration: none;
}

img{
  max-width:100%;
  height:auto;
  display: block;
}

body::-webkit-scrollbar{
  width:10px;
}

body::-webkit-scrollbar-track{
   background: #f1f1f1;
}

body::-webkit-scrollbar-thumb{
  background: #4e5165;
}

body::

body {
  font-family: 'Roboto', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
